{% extends "base.html.twig" %}

{% block title %}Add new product{% endblock %}

{% block body %}
    <div class="container w-25 mt-5">
        <form class="d-flex flex-column gap-3" action="add" method="POST">
            <input type="text" name="name" placeholder="CPU name">
            <input type="number" name="price" placeholder="price">
            <fieldset>
                <legend>Team</legend>
                <input type="radio" name="team" value="AMD">
                <label for="team">AMD</label>
                <input type="radio" name="team" value="Intel">
                <label for="team">Intel</label>
            </fieldset>
            <input type="text" name="platform" placeholder="Platform">
            <button class="btn btn-dark" type="submit" name="add-submit">Add</button>
        </form>
    </div>
{% endblock %}